@import 'config';
@import '~bootstrap/scss/bootstrap';
@import url("https://use.typekit.net/zfh6byd.css");
//@import url("https://use.typekit.net/cd5ba7601e.css");

@import 'includes/responsive';
@import 'includes/layout';
@import 'includes/typography';
@import 'includes/hero';
@import 'includes/cta';
@import 'includes/header';
@import 'includes/footer';
@import 'includes/button';

* {
	font-family: benton-sans,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

svg {
	height: auto;
	width: 100%;
	overflow: visible;
}

.marks {
	color: #E53333;
}

h1, h2, h3, h4, h5 {
	font-weight: 900;
	@extend .animate;
	text-align: center;
	text-transform: uppercase;
}
