.hero {
	display: flex;
	border-radius: 0;
	margin-top: -130px;
	height: 90vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 800px;
	color: #111;
	background: url('~@/assets/img/bars.png') right / contain no-repeat #F5F5F5;

	h1 {
		font-weight: 900;
		max-width: 650px;
		text-align: left;
		font-size: 50px;
		letter-spacing: -4px;
	}
	p {
		text-align: left;
	}

	.hero-container {
		@include container;
		display: flex;
		flex-direction: column;
		align-items: center;

		.hero-graphic {
			flex-grow: 1;
			margin-bottom: $bsu * 2;
			margin-top: $bsu * 3;
			min-width: 360px;
			padding: 0 15px;

			@include laptop {
				margin-top: 0;
				padding: 0;
			}
		}

		.hero-content {
			flex-grow: 1;
			padding-left: 0;
			// max-width: 850px;
			margin: auto;
			text-align: center;
			justify-content: center;

			h1 {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&.hero-clipped {
		h1 {
			font-weight: 900;
			max-width: 650px;
			text-align: center;
			font-size: 70px;
			letter-spacing: -4px;
		}
		p {
			text-align: center;
		}

		background: url('~@/assets/img/header.png') center / cover #111;
		color: white;
		//clip-path: polygon(
		//				0 0,
		//				100% 0,
		//				100% 100%,
		//				0 calc(100% - 7vw)
		//);
	}

	&:not(.hero-clipped) {
		height: inherit;
		min-height: 610px;
		.hero-container {
			padding-top: 100px;
			padding-bottom: 30px;
		}
	}

	@include laptop {
		.hero-container {
			flex-direction: row;

			.hero-graphic {
				margin-bottom: 0;
			}

			.hero-content {
				// padding-left: $bsu * 2;
				//max-width: none;
			}
		}
	}


	// Extra small devices (portrait phones, less than 576px)
	@media (max-width: 575.98px) {
		// margin-top: -180px;
		background: #F5F5F5;

	}
	// Small devices (landscape phones, less than 768px)
	@media (max-width: 767.98px) {

	}

	// Medium devices (tablets, less than 992px)
	@media (max-width: 991.98px) {
		.img-fluid {
			margin: 0 !important;
		}
	}
}
